.chat_main
  .main_header
    .main_header__box
      %p.main_header__box-name
        = @group.name
      .main_header__box-member
        Member : 
        %ul
          - @group.users.each do |user|
            %li= user.name

    =link_to edit_group_path(@group),class:"edit" do
      .main_header__edit-btn
        Edit

  .chat_message
    = render @messages

  .message_form
    .message_form__box
      = form_for [@group, @message] do |f|
        .message_form__input
          = f.text_field :body, class: 'message_form__input-text',placeholder: 'type a message'
          = f.label :image, class: "message_form__input-image" do
            = icon('fas', 'image')
            = f.file_field :image, class:"message-image"
        = f.submit 'Send',class:"submit",id:"submit"