.chat_message__post{"data-message-id": "#{message.id}"}
  .chat_message__post__user
    .chat_message__post__user-name
      = message.user.name
    .chat_message__post__user-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat_message__post__box
    - if message.body.present?
      %p.chat_message__post__box-text
        = message.body
    = image_tag message.image.url, class: 'chat_message__post__box-image' if message.image.present?